.App {
    text-align: center;
  }
  
  .App-header {
    background-color: rgb(74, 73, 73);
    /* height: 3em; */
    padding: 2.5em;
    color: white;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .App-intro {
    font-size: large;
  }

  .nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(41, 126, 172);
  }
  .nav li {
    float: left;
  }
  .nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  /* Change the link color to #111 (black) on hover */
  .nav li a:hover {
    background-color: rebeccapurple;
  }